@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  /* font-size: 62.5%; */
}

.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 100vh;
}